<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Blue Shopping</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
  <nav>
  <div id="nav">
 <h1>
   <ul id="menu">
<a href="{% url 'main:main' %}">
<img src="{% static 'main/img/logo1.png' %}" title="main" alt="BlueShopping" ></a>

  <li><a href="{% url 'account:logining' %}">登入</a></li>
  </ul>
  </div></nav>
<header>
<div id="header">
  <h1><marquee direction="right" height="50" scrollamount="10" behavior="alternate">
  Nice to meet you！！！</marquee></h1></div></header>
  <br>
  <aside>
  <h1>
  <div id="aside">
    <ul style="list-style-type:none">
    <li><a href="{% url 'main:cloth' %}">衣服</a></li><br>
    <li><a href="{% url 'main:pants' %}">褲子</a></li><br>
    <li><a href="{% url 'main:cap' %}">帽子</a></li><br>
    <li><a href="{% url 'main:thing' %}">其他</li><br>
    </ul>
  </h1></div>
  <div id="aside">
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h1>
     <ul style="list-style-type:none">
     <li><a href="{% url 'main:contact' %}">聯絡我們</a></li></ul>
  </h1></div>
  </aside>
  <div id="content">
   <h1>主頁</h1>
  </div>
  </div>
    <p>{{ like }}</p>
  </body>
</html>