<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Blue Shopping</title>
    <meta charset="utf-8">
  </head>
  <body>
  <a href="{% url 'main:main' %}">
  <img src="{% static 'main/img/logo1.png' %}" title="main" alt="BlueShopping" ></a></li>
<br><br>
  <nav>
  <div id="nav">
   <form action="" method="post">
            <label for="username">用戶名稱:</label>
            <input type="text" name="username" value="" id="username"> <br />
            <br><label for="password">用戶密碼:</label>
            <input type="password" name="password" value="" id="password"> <br />
<a href="{% url 'mained:mained' %}">登入</a>
    </form>
 <h1>
 <ul id="menu">
  <li><a href="{% url 'register:register' %}">註冊</a></li>
  </ul>
  </div></nav>
<header>
  </body>
</html>